# Our files
Face_Identification/**/*.jpg
Face_Identification/**/representations*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
Face_Identification/test2/Abhisheik Sharma/IMG_1066.HEIC
Face_Identification/test2/Abhisheik Sharma/IMG_1067.HEIC
Face_Identification/test2/Abhisheik Sharma/IMG_1068.HEIC
Face_Identification/test2/Abhisheik Sharma/IMG_1069.HEIC
Face_Identification/test2/Abhisheik Sharma/IMG_1070.HEIC
Face_Identification/test2/Akash Wudali/IMG_1094.HEIC
Face_Identification/test2/Akash Wudali/IMG_1095.HEIC
Face_Identification/test2/Akash Wudali/IMG_1096.HEIC
Face_Identification/test2/Akash Wudali/IMG_1097.HEIC
Face_Identification/test2/Akash Wudali/IMG_1098.HEIC
Face_Identification/test2/Akash Wudali/IMG_1099.HEIC
Face_Identification/test2/Ashwin Pulla/IMG_3382.jpeg
Face_Identification/test2/Ashwin Pulla/IMG_3383.jpeg
Face_Identification/test2/Ashwin Pulla/IMG_3384.jpeg
Face_Identification/test2/Ashwin Pulla/IMG_3387.jpeg
Face_Identification/test2/Ashwin Pulla/IMG_3388.jpeg
Face_Identification/test2/Ayaan Siddiqui/IMG_3429.jpeg
Face_Identification/test2/Ayaan Siddiqui/IMG_3430.jpeg
Face_Identification/test2/Ayaan Siddiqui/IMG_3431.jpeg
Face_Identification/test2/Ayaan Siddiqui/IMG_3432.jpeg
Face_Identification/test2/Ayaan Siddiqui/IMG_3433.jpeg
Face_Identification/test2/Daniel Qiu/IMG_3404.jpeg
Face_Identification/test2/Daniel Qiu/IMG_3405.jpeg
Face_Identification/test2/Daniel Qiu/IMG_3406.jpeg
Face_Identification/test2/Daniel Qiu/IMG_3407.jpeg
Face_Identification/test2/Daniel Qiu/IMG_3408.jpeg
Face_Identification/test2/Darren Kao/IMG_3389.jpeg
Face_Identification/test2/Darren Kao/IMG_3390.jpeg
Face_Identification/test2/Darren Kao/IMG_3391.jpeg
Face_Identification/test2/Darren Kao/IMG_3392.jpeg
Face_Identification/test2/Darren Kao/IMG_3393.jpeg
Face_Identification/test2/Dev Kodre/IMG_1106.HEIC
Face_Identification/test2/Dev Kodre/IMG_1107.HEIC
Face_Identification/test2/Dev Kodre/IMG_1108.HEIC
Face_Identification/test2/Dev Kodre/IMG_1109.HEIC
Face_Identification/test2/Dev Kodre/IMG_1110.HEIC
Face_Identification/test2/Emi Zhang/IMG_3419.jpeg
Face_Identification/test2/Emi Zhang/IMG_3420.jpeg
Face_Identification/test2/Emi Zhang/IMG_3421.jpeg
Face_Identification/test2/Emi Zhang/IMG_3422.jpeg
Face_Identification/test2/Emi Zhang/IMG_3423.jpeg
Face_Identification/test2/Grace Liu/IMG_1125.HEIC
Face_Identification/test2/Grace Liu/IMG_1126.HEIC
Face_Identification/test2/Grace Liu/IMG_1127.HEIC
Face_Identification/test2/Grace Liu/IMG_1128.HEIC
Face_Identification/test2/Krish Malik/IMG_1054.HEIC
Face_Identification/test2/Krish Malik/IMG_1055.HEIC
Face_Identification/test2/Krish Malik/IMG_1056.HEIC
Face_Identification/test2/Krish Malik/IMG_1057.HEIC
Face_Identification/test2/Krish Malik/IMG_1058.HEIC
Face_Identification/test2/Krish Malik/IMG_1059.HEIC
Face_Identification/test2/Lucas Marschoun/IMG_1077.HEIC
Face_Identification/test2/Lucas Marschoun/IMG_1078.HEIC
Face_Identification/test2/Lucas Marschoun/IMG_1079.HEIC
Face_Identification/test2/Lucas Marschoun/IMG_1080.HEIC
Face_Identification/test2/Lucas Marschoun/IMG_1081.HEIC
Face_Identification/test2/Lucas Marschoun/IMG_3424.jpeg
Face_Identification/test2/Lucas Marschoun/IMG_3425.jpeg
Face_Identification/test2/Lucas Marschoun/IMG_3426.jpeg
Face_Identification/test2/Lucas Marschoun/IMG_3427.jpeg
Face_Identification/test2/Lucas Marschoun/IMG_3428.jpeg
Face_Identification/test2/Manav Gagvani/.DS_Store
Face_Identification/test2/Manav Gagvani/IMG_1036.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1037.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1038.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1039.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1040.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1041.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1043.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1044.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1045.HEIC
Face_Identification/test2/Manav Gagvani/IMG_1046.HEIC
Face_Identification/test2/Matthew Palamarchuk/IMG_3377.jpeg
Face_Identification/test2/Matthew Palamarchuk/IMG_3378.jpeg
Face_Identification/test2/Matthew Palamarchuk/IMG_3379.jpeg
Face_Identification/test2/Matthew Palamarchuk/IMG_3380.jpeg
Face_Identification/test2/Matthew Palamarchuk/IMG_3381.jpeg
Face_Identification/test2/Mihika Dusad/IMG_3414.jpeg
Face_Identification/test2/Mihika Dusad/IMG_3415.jpeg
Face_Identification/test2/Mihika Dusad/IMG_3416.jpeg
Face_Identification/test2/Mihika Dusad/IMG_3417.jpeg
Face_Identification/test2/Mihika Dusad/IMG_3418.jpeg
Face_Identification/test2/Om Gole/IMG_1047.HEIC
Face_Identification/test2/Om Gole/IMG_1048.HEIC
Face_Identification/test2/Om Gole/IMG_1049.HEIC
Face_Identification/test2/Om Gole/IMG_1050.HEIC
Face_Identification/test2/Om Gole/IMG_1051.HEIC
Face_Identification/test2/Om Gole/IMG_1052.HEIC
Face_Identification/test2/Om Gole/IMG_1053.HEIC
Face_Identification/test2/Pranav Kuppa/IMG_1100.HEIC
Face_Identification/test2/Pranav Kuppa/IMG_1101.HEIC
Face_Identification/test2/Pranav Kuppa/IMG_1102.HEIC
Face_Identification/test2/Pranav Kuppa/IMG_1103.HEIC
Face_Identification/test2/Pranav Kuppa/IMG_1104.HEIC
Face_Identification/test2/Pranav Kuppa/IMG_1105.HEIC
Face_Identification/test2/Pranav Panicker/IMG_1071.HEIC
Face_Identification/test2/Pranav Panicker/IMG_1072.HEIC
Face_Identification/test2/Pranav Panicker/IMG_1073.HEIC
Face_Identification/test2/Pranav Panicker/IMG_1074.HEIC
Face_Identification/test2/Pranav Panicker/IMG_1075.HEIC
Face_Identification/test2/Pranav Panicker/IMG_1076.HEIC
Face_Identification/test2/Pranav Vadde/.DS_Store
Face_Identification/test2/Pranav Vadde/IMG_1111.HEIC
Face_Identification/test2/Pranav Vadde/IMG_1112.HEIC
Face_Identification/test2/Pranav Vadde/IMG_1113.HEIC
Face_Identification/test2/Pranav Vadde/IMG_1114.HEIC
Face_Identification/test2/Pranav Vadde/IMG_1115.HEIC
Face_Identification/test2/Preston Brown/IMG_1042.HEIC
Face_Identification/test2/Preston Brown/IMG_1088.HEIC
Face_Identification/test2/Preston Brown/IMG_1089.HEIC
Face_Identification/test2/Preston Brown/IMG_1090.HEIC
Face_Identification/test2/Preston Brown/IMG_1091.HEIC
Face_Identification/test2/Preston Brown/IMG_1092.HEIC
Face_Identification/test2/Preston Brown/IMG_1093.HEIC
Face_Identification/test2/Raghav Sriram/IMG_1082.HEIC
Face_Identification/test2/Raghav Sriram/IMG_1083.HEIC
Face_Identification/test2/Raghav Sriram/IMG_1084.HEIC
Face_Identification/test2/Raghav Sriram/IMG_1085.HEIC
Face_Identification/test2/Raghav Sriram/IMG_1086.HEIC
Face_Identification/test2/Raghav Sriram/IMG_1087.HEIC
Face_Identification/test2/Rohan Kalahasty/IMG_1060.HEIC
Face_Identification/test2/Rohan Kalahasty/IMG_1061.HEIC
Face_Identification/test2/Rohan Kalahasty/IMG_1062.HEIC
Face_Identification/test2/Rohan Kalahasty/IMG_1063.HEIC
Face_Identification/test2/Rohan Kalahasty/IMG_1064.HEIC
Face_Identification/test2/Rohan Kalahasty/IMG_1065.HEIC
Face_Identification/test2/Samarth Bhargav/IMG_3399.jpeg
Face_Identification/test2/Samarth Bhargav/IMG_3400.jpeg
Face_Identification/test2/Samarth Bhargav/IMG_3401.jpeg
Face_Identification/test2/Samarth Bhargav/IMG_3402.jpeg
Face_Identification/test2/Samarth Bhargav/IMG_3403.jpeg
Face_Identification/test2/Santiago Criado/IMG_1116.HEIC
Face_Identification/test2/Santiago Criado/IMG_1117.HEIC
Face_Identification/test2/Santiago Criado/IMG_1118.HEIC
Face_Identification/test2/Santiago Criado/IMG_1119.HEIC
Face_Identification/test2/Santiago Criado/IMG_1120.HEIC
Face_Identification/test2/Santiago Criado/IMG_1121.HEIC
Face_Identification/test2/Santiago Criado/IMG_1122.HEIC
Face_Identification/test2/Santiago Criado/IMG_1123.HEIC
Face_Identification/test2/Tejesh Dandu/IMG_3394.jpeg
Face_Identification/test2/Tejesh Dandu/IMG_3395.jpeg
Face_Identification/test2/Tejesh Dandu/IMG_3396.jpeg
Face_Identification/test2/Tejesh Dandu/IMG_3397.jpeg
Face_Identification/test2/Tejesh Dandu/IMG_3398.jpeg
Face_Identification/test2/Vishal Nandakumar/IMG_3409.jpeg
Face_Identification/test2/Vishal Nandakumar/IMG_3410.jpeg
Face_Identification/test2/Vishal Nandakumar/IMG_3411.jpeg
Face_Identification/test2/Vishal Nandakumar/IMG_3412.jpeg
Face_Identification/test2/Vishal Nandakumar/IMG_3413.jpeg
